<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <properties>
        <property name="name">app</property>
        <property name="pattern">%d{HH:mm:ss.SSS} [%p] %c{1} - %m%n</property>
    </properties>
    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${pattern}"/>
        </Console>
        <RollingFile name="RollingFile" fileName="logs/${name}.log"
                     filePattern="logs/${name}.log%i">
            <PatternLayout>
                <pattern>${pattern}</pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="20 MB"/> <!-- Or every 100 MB -->
            </Policies>
            <DefaultRolloverStrategy max="5"/>
        </RollingFile>
    </appenders>
    <loggers>
        <root level="info">
            <appender-ref ref="Console"/>
            <appender-ref ref="RollingFile"/>
        </root>
    </loggers>
</configuration>